.Dish {
    border: 1px solid #000000;
    padding: 5px 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.Dish button {
    display: inline-block;
    margin: auto 0;
    width: 120px;
    height: 50px;
}
.Dish img {
    height: auto;
    width: 180px;
}
.info {
    margin: auto 0;
}