.Cart {
    max-width: 320px;
    width: 100%;
    border: 1px solid #000;
    height: 500px;
    padding: 20px 10px 10px;
}
.list {
    margin: 0;
    padding: 0 0 20px;
    list-style: none;
    border-bottom: 1px solid #000;
}
.cart-bottom p{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-bottom: 5px;
}
.cart-title {
    text-align: center;
    margin: 0 0 15px;
}

.cart-btn {
    display: block;
    margin: 30px auto 5px;
    padding: 10px 15px;
}