.ClientData {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 150px 200px;
    z-index: 200;
}
.ClientData input {
    display: block;
    margin: 0 auto 10px;
    width: 300px;
    height: 30px;
}
.ClientData button {
    margin-top: 20px;
    margin-right: 40px;
}